<h1>Numbers: <%= @users.size %></h1>
<% @users.each do |user| %>
<p>UserName: <%= user.name %></p>
<p>
	<% if user.admin? %>
		Type: Admin.
	<% else %>
		Type: Normal User.
	<% end %>
</p>
<p>State: <%= user.is_active %> </p>
  <div class="btn-group">
  	<%= link_to "Disable",disable_user_path(user: user.id),class: "btn btn-warning" %>
    <%= link_to "Active",active_user_path(user: user.id),class: "btn btn-success" %>
    <%= link_to "Cancel this account", delete_user_path(user: user.id),class: "btn btn-danger" %>
   </div>
   <hr>
<% end %>