<div class="container">
  <h2>User Information</h2>                                                                                    
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
      	<th>Avatar</th>
        <th>UserName</th>
        <th>MailUser</th>
        <th>Age</th>
        <th>Basic Info</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td><%= image_tag @user.avatar.url(:medium) %></td>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
      	<td><%= @user.age %></td>
      	<td><%= @user.basic_info %></td>
      	<td><%= @user.address %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>